@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
  font-family: 'JetBrains Mono', monospace;
  background: rgba(139, 139, 139, 0.15);
  border-radius: 3px;
  padding: 0 0.2em;
}
